*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Arial, sans-serif;
    background-image: url("./essets/vista-de-uma-paisagem-natural-espetacular_23-2150763636.avif");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 15px;
}

.container {
    background-color: #ffffff;
    border-radius: 14px;
    margin: 14px;
    padding: 20px;
    border: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    opacity: 0.7;
}

.h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    background-color: transparent;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border:  1px solid #cccccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #1d5992;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #707771;
}